@use '../mixins';
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: sticky;
	top: 0;
	padding: 8px;
	font-size: 2.8rem;
	background-color: rgb(0, 8, 20);

    @include mixins.landscapePhone{
        padding: 2px;
    }
	@include mixins.desktops {
		justify-content: left;
	}
	a {
        font-size: 2.6rem;
		font-weight: 600;
		text-decoration: none;
		color: rgb(255, 255, 255);
        transition: 0.2s;

        
	}
	a:hover {
		color: rgb(255, 214, 10);
	}
	.active {
		color: rgb(255, 214, 10);
	}
}
